@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #1c1917;
    --secondary: #097fa5;
    --background: #fafaf9;
    --background-secondary: #c8dde3;
    --button: #097fa5;
    --button-text: #fff;
    --text-secondary: #3c3c3c;
    --dropdown: #e0f4ff;
    --dropdown-hover: #b3e5ff;
    --button-secondary: #e7e7e7;
    --selected: #9ec6ff;
    --logo-shadow: #053949;
    --logo-body: #00d8fe;
    --span-bg: linear-gradient(to right, #4e4e9e, #097fa5, #3e87ed);
  }
  .dark {
    --primary: #fafaf9;
    --secondary: #fafaf9;
    --background: #1c1917;
    --background-secondary: #fafaf9;
    --button: #097fa5;
    --button-text: #fafaf9;
    --text-secondary: #1c1917;
    --dropdown: #2d2d2d;
    --dropdown-hover: #454545;
    --button-secondary: #1d1d1d;
    --selected: #324e70;
    --logo-shadow: #0a2e36;
    --logo-body: #097fa5;
    --span-bg: linear-gradient(to right, #8c00ff, #0fb4e1, #a1d930, #ae0000);
  }
  .light {
    --primary: #1c1917;
    --secondary: #097fa5;
    --background: #fafaf9;
    --background-secondary: #c8dde3;
    --button: #097fa5;
    --button-text: #fff;
    --text-secondary: #3c3c3c;
    --dropdown: #e0f4ff;
    --dropdown-hover: #b3e5ff;
    --button-secondary: #e7e7e7;
    --selected: #9ec6ff;
    --logo-shadow: #053949;
    --logo-body: #00d8fe;
    --span-bg: linear-gradient(to right, #4e4e9e, #097fa5, #3e87ed);
  }
  .sunset {
    --primary: #ff6b6b;
    --secondary: #ff9966;
    --background: #f9f9f9;
    --background-secondary: #e9e9e9;
    --button: #ff6b6b;
    --button-text: #fff;
    --text-secondary: #333333;
    --dropdown: #f9f9f9;
    --dropdown-hover: #e9e9e9;
    --button-secondary: #e9e9e9;
    --selected: #ff9966;
    --logo-shadow: #333333;
    --logo-body: #ff6b6b;
    --span-bg: linear-gradient(to right, #ff6b6b, #ff9966, #ffcc66);
  }
  .instagram {
    --primary: #cc3f7e;
    --secondary: #fcb045;
    --background: #ffffff;
    --background-secondary: #f1f1f1;
    --button: #cc3f7e;
    --button-text: #ffffff;
    --text-secondary: #333333;
    --dropdown: #ffffff;
    --dropdown-hover: #f1f1f1;
    --button-secondary: #ffffff;
    --selected: #fcb045;
    --logo-shadow: #000000;
    --logo-body: #cc3f7e;
    --span-bg: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  }
  .facebook {
    --primary: #3b5998;
    --secondary: #4267b2;
    --background: #f0f2f5;
    --background-secondary: #e9eaef;
    --button: #3b5998;
    --button-text: #ffffff;
    --text-secondary: #333333;
    --dropdown: #f0f2f5;
    --dropdown-hover: #e9eaef;
    --button-secondary: #e9eaef;
    --selected: #aeb3be;
    --logo-shadow: #000000;
    --logo-body: #3b5998;
    --span-bg: linear-gradient(to right, #3b5998, #4267b2, #5578c2);
  }
  .discord {
    --primary: #7289da;
    --secondary: #7289da;
    --background: #36393f;
    --background-secondary: #2f3136;
    --button: #7289da;
    --button-text: #ffffff;
    --text-secondary: #dcddde;
    --dropdown: #36393f;
    --dropdown-hover: #2f3136;
    --button-secondary: #2f3136;
    --selected: #1f2b57;
    --logo-shadow: #000000;
    --logo-body: #7289da;
    --span-bg: linear-gradient(to right, #7289da, #7289da, #7289da);
  }
  .netflix {
    --primary: #ff0000;
    --secondary: #ffffff;
    --background: #000000;
    --background-secondary: #121212;
    --button: #ff0000;
    --button-text: #ffffff;
    --text-secondary: #b3b3b3;
    --dropdown: #000000;
    --dropdown-hover: #121212;
    --button-secondary: #121212;
    --selected: #400202;
    --logo-shadow: #000000;
    --logo-body: #ff0000;
    --span-bg: linear-gradient(to right, #ff0000, #ff0000, #ff0000);
  }
  .reddit {
    --primary: #ff4500;
    --secondary: #ff6347;
    --background: #ffffff;
    --background-secondary: #f5f5f5;
    --button: #ff4500;
    --button-text: #ffffff;
    --text-secondary: #333333;
    --dropdown: #ffffff;
    --dropdown-hover: #f5f5f5;
    --button-secondary: #f5f5f5;
    --selected: #ff6347;
    --logo-shadow: #000000;
    --logo-body: #ff4500;
    --span-bg: linear-gradient(to right, #ff4500, #ff6347, #ff4500);
  }
  .twilight {
    --primary: #a296e0;
    --secondary: #d84c21;
    --background: #e0e0e8;
    --background-secondary: #cfcfd9;
    --button: #7d9dbf;
    --button-text: #ffffff;
    --text-secondary: #5a5d71;
    --dropdown: #d9d2e9;
    --dropdown-hover: #b1a8c7;
    --button-secondary: #e0e0e8;
    --selected: #b0394b;
    --logo-shadow: #6d6875;
    --logo-body: #8d82c4;
    --span-bg: linear-gradient(to right, #8d82c4, #f7b7a3, #7d9dbf);
  }
}

@layer base {
  *:lang(ar) {
    font-family: var(--rubik) !important;
  }
  *:lang(fa) {
    font-family: var(--rubik) !important;
  }
  div::selection,
  h1::selection,
  button::selection,
  p::selection,
  span::selection,
  a::selection,
  h2::selection {
    background-color: rgb(121, 255, 225);
    text-shadow: rgb(0, 102, 255) 0px 0px 7px;
    color: rgb(248, 28, 229);
  }
  body {
    @apply bg-background text-primary;
    cursor: none;
  }
  * {
    cursor: none !important;
  }
  button,
  input,
  textarea,
  select,
  a {
    cursor: none !important;
  }
  .custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition:
      transform 0.15s ease,
      width 0.15s ease,
      height 0.15s ease,
      background-color 0.15s ease;
    z-index: 9999;
    mix-blend-mode: difference;
  }
  .custom-cursor.hover {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-color: #fff;
    transform: translate(-50%, -50%) scale(1);
  }
  .cursor-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    pointer-events: none;
    z-index: 10000;
    mix-blend-mode: difference;
  }

  .pill {
    padding: 0.25rem 0.75rem;
    border-radius: 50px;
    border: 1px solid var(--text-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-secondary);
    color: var(--text-secondary);
  }
}
